<!-- Modal -->
<div class="modal fade" id="assignUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modaltitle">Batch Students List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="modalMsg" class="hidden">
                <div class="alert alert-icon alert-success alert-block alert-dismissible fade show " role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="icon fa fa-check" aria-hidden="true"></i>
                    User removed successfully from the Batch
                </div>
            </div>

            <div class="modal-body" id="userModal">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>