<div class="bg-white p-30 mt-15 add-batch-college" style="position:relative">

    <div class="overlay-bg-internpost text-center"></div>
    <hr>
    
    <form id="form" style="margin:20px auto 0;width: 60%;">
    <h4><strong>Migrate From</strong></h4>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}programme, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}programmeHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="programme" name="programme" >
                    <option value="" selected>Select Programme</option>
                    {{#student_programme}}
                    <option value="{{id}}">{{fullname}}</option>
                    {{/student_programme}}
                </select>
            </div>
        </div>

        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}stream, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}streamHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="stream" name="stream" >
                    <option value="" selected>Select Stream</option>
                </select>
            </div>
        </div>

        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}semester, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}semesterHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="semester" name="semester" >
                    <option value="" selected>Select Semester</option>
                </select>
            </div>
        </div>

        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}semesteryear, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}semesteryearHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="semesteryear" name="semesteryear" >
                    <option value="" selected>Select Semester Year</option>
                </select>
            </div>
        </div>

        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}batch, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}batchHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="batch" name="batch" >
                    <option value="" selected>Select Batch</option>
                </select>
            </div>
        </div>
        <!--Migrate to-->
        <hr>
        <h4><strong>Migrate To</strong></h4>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}programme, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}programmeHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <input type="text" id="selectedprogram" name="program" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}stream, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}streamHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <input type="text" id="selectedstream" name="stream" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}batch, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}batchHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <input type="text" id="selectedbatch" name="batch" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}semester, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}semesterHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                 <input type="text" id="selectedsem" name="stream" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row otherType">
            <div class="col-sm-12 col-md-3 required">
                <label class="col-form-label">{{#str}}semesteryear, local_batchmanagement{{/str}}</label>
                <a class="btn btn-link pull-right" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>{{#str}}semesteryearHelp, local_batchmanagement{{/str}}</p></div> " data-html="true" tabindex="0" data-trigger="focus" data-original-title="" title="">

                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                <select class="form-control" id="selectedsemesteryear" name="semesteryear" >
                    <option value="" selected>Select Semester Year</option>
                </select>
            </div>
        </div>
        

        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <input id="formsubmit" type="submit" class="btn btn-primary add" name="submit" value="MIGRATE">
            </div>
        </div>
    </div>
</form>

<style>
    .form-group .required .col-form-label:after {
        content:"*";color:red;
    }
</style>